.app-header {
    display: flex;
    height: 50px;
    width: 100vh;
    width: 100%;
    z-index: 2000000;
    position: absolute; 
    left: 0; 
    right: 0; 
    top: 0px;
    margin-inline: auto; 
}

.navbar-but {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    background-color: #323232;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color, .5s;
}

.navbar-but:hover {
    background-color: #252525;
}

.nav-text {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}