.container {
    background-color: #404040;
    border-radius: 10px;
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display {
    text-align: center;
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    background-color: #505050;
    color: white;
}

.container p {
    width: 200px;
    overflow-x: scroll;
}